<!doctype html>
<html>
<head>
  <title>Your madlib!</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>

<h3>Here's your madlib:</h3>
<p>
    {{ person }} was delighted to conjure some {{ noun }}, for {{ person2 }} hadn't eaten in several days. 
    The had matching {{ color }} {{ noun2 }} robes, a house which was known for being {{ adjectives }}.
</p>
{% if ending %}The end of term was near, and {{ person }} and {{ person2 }} celebrated {{ adj2 }}.{% endif %}

</body>
</html>